.nganh {
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}
#gt1{
    color: aqua;
}
#gt2{
    color: blueviolet;
}